Q1)What are data structures, and why are they important?
ans- Data structures are ways to organize and store data efficiently for operations like searching, sorting, and modifying.
Faster Operations – Optimizes searching, inserting, and deleting.
Memory Efficient – Reduces unnecessary memory usage.
Scalability – Helps manage large datasets.
Foundation for Algorithms – Essential for solving complex problems.
Used Everywhere – Databases, AI, OS, networking, etc.
Types of Data Structures
Linear: Arrays, Linked Lists, Stacks, Queues.
Non-Linear: Trees, Graphs

2) Explain the difference between mutable and immutable data types with examples
ans-Mutable Data Types
Can be modified after creation without changing their memory address.
Allow in-place modifications.
Examples:

Lists
Example: my_list = [1, 2, 3] → my_list[0] = 100 (Changes to [100, 2, 3])
Dictionaries
Example: my_dict = {"name": "Alice", "age": 25} → my_dict["age"] = 26 (Changes the value of "age")
Immutable Data Types
Cannot be modified after creation.
Any modification creates a new object in memory.
Examples:

Strings
Example: "Hello"[0] = "h" ( Error)
Correct way: new_str = "Hello".replace("H", "h") → "hello"
Tuples
Example: (1, 2, 3)[0] = 100 (TypeError)
Integers, Floats, Booleans
Example: a = 10, a = 20 (Creates a new integer object)

3)P What are the main differences between lists and tuples in Python3
ans-1. Mutability
Lists are mutable, meaning their elements can be changed, added, or removed after creation.
Tuples are immutable, meaning once they are created, their elements cannot be modified.
2. Syntax
Lists use square brackets: [ ] (e.g., my_list = [1, 2, 3]).
Tuples use parentheses: ( ) (e.g., my_tuple = (1, 2, 3)).
3. Modification
Lists allow operations like append(), remove(), and sort().
Tuples do not support item assignment or modification.
4. Performance
Lists are slower due to dynamic size and mutability.
Tuples are faster because they have a fixed size and are immutable.
5. Memory Usage
Lists require more memory because they support modifications.
Tuples use less memory as they are fixed and immutable.

4)P Describe how dictionaries store data
ans-How Dictionaries Store Data in Python (Short Answers)
Data Structure – Uses a hash table to store key-value pairs.
Key-Value Pairs – Each key is unique and maps to a specific value.
Hashing – Keys are converted into a hash code that determines their memory position.
Collisions Handling – Uses open addressing or chaining (linked lists) to resolve hash conflicts.
Mutability – Dictionaries are mutable, meaning values can be modified, added, or removed

5) Why might you use a set instead of a list in Python
ans-Uniqueness – Sets automatically remove duplicates, while lists allow them.
Faster Lookups – Sets have O(1) average time complexity for lookups, whereas lists take O(n).
Mathematical Operations – Sets support union, intersection, and difference, which lists do not.
No Order Guarantee – Sets are unordered, while lists maintain order.
Memory Efficiency – Sets use hashing, making them more efficient for unique data storage.

6)) What is a string in Python, and how is it different from a list
ans-A string in Python is a sequence of characters enclosed in quotes (' ', " ", ''' ''', or """ """). It is immutable, meaning it cannot be changed after creation.

7)How do tuples ensure data integrity in Python
ans-Immutability – Tuples cannot be modified after creation, preventing accidental changes.
Fixed Structure – Ensures consistent data storage, making them ideal for constants.
Hashability – Tuples can be used as dictionary keys and set elements, ensuring data consistency.
Thread-Safety – Since they are immutable, tuples are safe for multi-threaded applications.
Memory Efficiency – Tuples use less memory than lists, improving performance in data-sensitive applications.

8)What is a hash table, and how does it relate to dictionaries in Python
ans-A hash table is a data structure that stores key-value pairs using hashing. Python dictionaries use hash tables to enable fast lookups (O(1) time complexity).

9)Can lists contain different data types in Python
ans-Yes! A list can hold integers, strings, floats, other lists, or even dictionaries in a single collection.

10)Explain why strings are immutable in Python
ans-Strings are immutable to ensure security, efficiency, and hashability, making them safe for use as dictionary keys and in multi-threading.

11)What advantages do dictionaries offer over lists for certain tasks
ans-Faster lookups (O(1)), key-value storage for better organization, and flexibility for structured data

12) Describe a scenario where using a tuple would be preferable over a list
ans-When you need fixed, unchangeable data like coordinates, database records, or function return values.

13)How do sets handle duplicate values in Python
ans-sets automatically remove duplicates, ensuring unique elements only.

14)How does the “in” keyword work differently for lists and dictionaries
ans-In lists, it checks for a value (O(n)).
In dictionaries, it checks for a key (O(1)).

15)Can you modify the elements of a tuple? Explain why or why not
ans-No, tuples are immutable. Once created, their elements cannot be changed.

16) What is a nested dictionary, and give an example of its use case
ans-A dictionary inside another dictionary. Useful for storing complex data, like student records:

students = {"Alice": {"age": 25, "grade": "A"}}

17)Describe the time complexity of accessing elements in a dictionary
ans-O(1) on average

18)In what situations are lists preferred over dictionaries
ans-When order matters, data is simple, or when you need sequential access.

19)P Why are dictionaries considered unordered, and how does that affect data retrieval
ans-Before Python 3.7, dictionaries didn’t maintain insertion order. Now they do, but data is still accessed by keys, not positions.

20)P Explain the difference between a list and a dictionary in terms of data retrieval.
ans-Lists: Use indexes, retrieval takes O(n) in worst case.
Dictionaries: Use keys, retrieval is O(1) (much faster for large data).

In [2]:
# Write a code to create a string with your name and print
name = "Abhinav"
print(name)

Abhinav

In [3]:
#Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [6]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [11]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [12]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [15]:
#. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [17]:
#6. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [18]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
#. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [21]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [23]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [24]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [26]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)  # Output: True

True

In [28]:
# Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [29]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[8, 17, 45, 85, 93]

In [30]:
#. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [31]:
#Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}